






<div class="container-fluid">

  <div class="row">

    <div class="col-lg-12">




    <span  class="btn btn-link btn-xs  pull-left pagination pagination">
      <h2 class="title" style="color:#22BDC8;"><span>Historias Clinicas</span> de <%= @paciente.primer_nombre.capitalize %></h2>
      </span>










</span>

<% if current_user.rol_id != 3 %>

    <span  class="btn btn-link btn-xs pull-right" style="margin-top: 18px;"><%= link_to 'Nueva Historia Clinica', new_paciente_historia_clinica_path(@paciente), :class => "btn btn-info color_blanco " %></span>


<% end %>





<table class="table table-bordered" style="margin-top:-30px;">


<tr>
      <th  colspan="5">

                            <%= form_tag request.path, :method => 'get', :class => '' do %>

<div>
  <div class="row">

    <div class="col-lg-5 ">

            <div class="input-group custom-search-form">
              <%= text_field_tag :search, params[:search], :placeholder => "Busca por el Nombre", :class => 'form-control' %>
              <span class="input-group-btn">


<%= button_tag(type: "submit", class: "btn principal") do %>
              <span class="glyphicon glyphicon-search"></span>
                          <% end %>

             </span>
             </div><!-- /input-group -->
        </div>
  </div>
</div>
                    <% end %>



      </th>

</tr>


  <tr class="header x1">
    <th>Id</th>
    <th>Nombre</th>
    <th>Identificación</th>
    <th>Fecha y Hora</th>
    <th>Opciones</th>
  </tr>

<% @historias_clinicas.each do |historia_clinica| %>

  <tr class="x">


    <td><%= historia_clinica.id %></td>
    <td><%= historia_clinica.p_primer_nombre.capitalize %></td>
    <td><%= historia_clinica.p_documento %></td>
    <td><%= historia_clinica.created_at.strftime("%d-%m-%y") %> <%= historia_clinica.created_at.strftime("%X") %></td>
    <td><%= link_to 'Ver Historia Clinica', paciente_historia_clinica_path(@paciente,historia_clinica), :class => "btn btn-info blanco btn-xs" %>



<% if historia_clinica.e_estado_historia_clinica != true %>
<% if current_user.rol_id != 3 %>
     &nbsp;  <%= link_to 'Editar Historia Clinica', paciente_historia_clinica_steps_path(@paciente, historia_clinica, HistoriaClinica.form_steps.first), :class => "btn btn-success blanco  btn-xs" %>
<% end %>
<% end %>



        <%= link_to 'Ver Notas de Evolución(' + historia_clinica.notas_progreso.count.to_s + ')' , paciente_historia_clinica_notas_progreso_path(@paciente, historia_clinica), :class => 'btn btn-primary btn-xs color_blanco principal' %>



    </td>


  </tr>

<% end %>

</table>

<div class="row">
  <div class="col-md-12 col-md-offset-2">
    <span class="btn btn-link btn-xs">  
      <%= will_paginate @historias_clinicas, renderer: BootstrapPagination::Rails, :previous_label => 'Atras', :next_label => 'Siguiente' %>
    </span>
  </div>
</div>    



<style type="text/css">

.eliminar {
    color: red;
}

</style>

<style>.x td
{
   padding: 5px 10px !important;
    background-color: #FBFBFB;
    color: #828282;
  }
    .x1 th
    {
      color: #67B0C7!important;
      background: #EFEFEF;
      font-size: 15px;      }

      </style>




</div>
<style type="text/css">
    @import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css);
body{margin-top:20px;}
.fa-fw {width: 2em;}
</style>
