
<style>
.ids{
	color: gray;
}
</style>

<tr class="x" id=<%= "rol_#{rol.id}" %>>
	<td><%= link_to rol.id, edit_rol_path(rol), :remote => true, :class => "ids" %></td>
	<td><%= rol.nombre.capitalize %></td>
	<td><%= rol.descripcion.capitalize %></td>

	<td>


    <%= link_to 'Mostrar',  rol, :remote => true,  :rel => "tooltip", :title => "Mostrar", :class => 'btn btn-primary btn-xs color_blanco principal'%>



    <%= link_to 'Editar', edit_rol_path(rol),  :rel => "tooltip", :title => "Editar", :class => 'btn btn-primary btn-xs color_blanco principal',  :remote => true %>



	</td>
</tr>


<style>

.x td
{
padding: 5px 10px !important;
background-color: #FBFBFB;
color: #828282;
}
.x1 th
{
color: #67B0C7!important;
background: #EFEFEF;
font-size: 15px;      }

</style>
