

<style>
.ids{
  color:gray;
}
</style>
<tr class="x" id=<%= "eps_#{eps.id}" %>
  >
  <td style="text-align: center;">
    <%= link_to eps.id, edit_eps_path(eps), :remote =>true, :class => "ids" %></td>
  <td>
    <%= eps.nombre.capitalize %></td>

  <td>

    <style type="text/css" media="screen">
.icono {
    font-size: 16px;
    color: #848484;
}
.ver_notas{
color: #666;
}
</style>

    <%= link_to eps, :remote =>
    true, class: "btn btn-link btn-xs", title: "Ver Arl" do %> <i class="glyphicon glyphicon-eye-open icono"></i>
    <% end %>

    <%= link_to edit_eps_path(eps), :remote =>
    true, class: "btn btn-link btn-xs", title: "Editar Arl" do %> <i class="glyphicon glyphicon-pencil icono"></i>
    <% end %></td>
</tr>