<%  #1 #################################################################################################
    
aparato_circulatorio =  HistoriaClinica.where(:patologias => "Aparato Circulatorio")
.where("date(created_at) >= ?", $varAerocivil)
.where("date(created_at) <= ?", $varAerocivil2)
.where(:aeropuerto_id => $aeropuertoAerocivil).count

respiratorio_alto =  HistoriaClinica.where(:patologias => "Aparato Respiratorio Alto")
.where("date(created_at) >= ?", $varAerocivil)
.where("date(created_at) <= ?", $varAerocivil2)
.where(:aeropuerto_id => $aeropuertoAerocivil).count

respiratorio_bajo =  HistoriaClinica.where(:patologias => "Aparato Respiratorio Bajo")
.where("date(created_at) >= ?", $varAerocivil)
.where("date(created_at) <= ?", $varAerocivil2)
.where(:aeropuerto_id => $aeropuertoAerocivil).count

aparato_digestivo =  HistoriaClinica.where(:patologias => "E. Aparato Digestivo").where("date(created_at) >= ?", $varAerocivil).where("date(created_at) <= ?", $varAerocivil2).where(:aeropuerto_id => $aeropuertoAerocivil).count

aparato_genital =  HistoriaClinica.where(:patologias => "E. Aparato Genital").where("date(created_at) >= ?", $varAerocivil).where("date(created_at) <= ?", $varAerocivil2).where(:aeropuerto_id => $aeropuertoAerocivil).count

aparato_urinario =  HistoriaClinica.where(:patologias => "E. Aparato Urinario").where("date(created_at) >= ?", $varAerocivil).where("date(created_at) <= ?", $varAerocivil2).where(:aeropuerto_id => $aeropuertoAerocivil).count

nutr_metab =  HistoriaClinica.where(:patologias => "E. Endocr. Nutr Metab").where("date(created_at) >= ?", $varAerocivil).where("date(created_at) <= ?", $varAerocivil2).where(:aeropuerto_id => $aeropuertoAerocivil).count

fiel_y_tos =  HistoriaClinica.where(:patologias => "E. Fiel Y T.O.S").where("date(created_at) >= ?", $varAerocivil).where("date(created_at) <= ?", $varAerocivil2).where(:aeropuerto_id => $aeropuertoAerocivil).count



organo_sentidos =  HistoriaClinica.where(:patologias => "E. Organos De Los Sentidos").where("date(created_at) >= ?", $varAerocivil).where("date(created_at) <= ?", $varAerocivil2).where(:aeropuerto_id => $aeropuertoAerocivil).count

parasitos =  HistoriaClinica.where(:patologias => "E. Parasit").where("date(created_at) >= ?", $varAerocivil).where("date(created_at) <= ?", $varAerocivil2).where(:aeropuerto_id => $aeropuertoAerocivil).count

sangre_organ =  HistoriaClinica.where(:patologias => "E. Sangre Organ H").where("date(created_at) >= ?", $varAerocivil).where("date(created_at) <= ?", $varAerocivil2).where(:aeropuerto_id => $aeropuertoAerocivil).count

sistema_muscular =  HistoriaClinica.where(:patologias => "E. Sistema Muscular").where("date(created_at) >= ?", $varAerocivil).where("date(created_at) <= ?", $varAerocivil2).where(:aeropuerto_id => $aeropuertoAerocivil).count

sistema_oseo =  HistoriaClinica.where(:patologias => "E. Sistema Oseo").where("date(created_at) >= ?", $varAerocivil).where("date(created_at) <= ?", $varAerocivil2).where(:aeropuerto_id => $aeropuertoAerocivil).count

embarazo_coomplicado =  HistoriaClinica.where(:patologias => "Embarazo Complicado").where("date(created_at) >= ?", $varAerocivil).where("date(created_at) <= ?", $varAerocivil2).where(:aeropuerto_id => $aeropuertoAerocivil).count

embarazo_sin_complicaciones =  HistoriaClinica.where(:patologias => "Embarazo Sin Complicaciones").where("date(created_at) >= ?", $varAerocivil).where("date(created_at) <= ?", $varAerocivil2).where(:aeropuerto_id => $aeropuertoAerocivil).count

enfermedades_congenitas =  HistoriaClinica.where(:patologias => "E. Congenitas").where("date(created_at) >= ?", $varAerocivil).where("date(created_at) <= ?", $varAerocivil2).where(:aeropuerto_id => $aeropuertoAerocivil).count

enfermedades_infecciosas =  HistoriaClinica.where(:patologias => "E. Enf. Infecciosas").where("date(created_at) >= ?", $varAerocivil).where("date(created_at) <= ?", $varAerocivil2).where(:aeropuerto_id => $aeropuertoAerocivil).count

enfermedades_perinatal =  HistoriaClinica.where(:patologias => "Enf. Perinatal").where("date(created_at) >= ?", $varAerocivil).where("date(created_at) <= ?", $varAerocivil2).where(:aeropuerto_id => $aeropuertoAerocivil).count

sistema_nervioso =  HistoriaClinica.where(:patologias => "Enf. Sist. Nervioso").where("date(created_at) >= ?", $varAerocivil).where("date(created_at) <= ?", $varAerocivil2).where(:aeropuerto_id => $aeropuertoAerocivil).count

envenenamiento =  HistoriaClinica.where(:patologias => "Envenenamiento").where("date(created_at) >= ?", $varAerocivil).where("date(created_at) <= ?", $varAerocivil2).where(:aeropuerto_id => $aeropuertoAerocivil).count

sintomas_mal_definidos =  HistoriaClinica.where(:patologias => "Signos Y Sintomas Mal Definidos").where("date(created_at) >= ?", $varAerocivil).where("date(created_at) <= ?", $varAerocivil2).where(:aeropuerto_id => $aeropuertoAerocivil).count

transtornos_mentales =  HistoriaClinica.where(:patologias => "Transtornos Mentales").where("date(created_at) >= ?", $varAerocivil).where("date(created_at) <= ?", $varAerocivil2).where(:aeropuerto_id => $aeropuertoAerocivil).count

traumas =  HistoriaClinica.where(:patologias => "Traumas").where("date(created_at) >= ?", $varAerocivil).where("date(created_at) <= ?", $varAerocivil2).where(:aeropuerto_id => $aeropuertoAerocivil).count

tumorales =  HistoriaClinica.where(:patologias => "Tumorales").where("date(created_at) >= ?", $varAerocivil).where("date(created_at) <= ?", $varAerocivil2).where(:aeropuerto_id => $aeropuertoAerocivil).count

otros =  HistoriaClinica.where(:patologias => "Otros").where("date(created_at) >= ?", $varAerocivil).where("date(created_at) <= ?", $varAerocivil2).where(:aeropuerto_id => $aeropuertoAerocivil).count

 %>



<div class="panel panel-default">
<br/>
<div class="container">
    <div class="row col-md-6 col-md-offset-2 custyle">
    <table class="table table-bordered table-hover dataTable no-footer">
    <tbody>
        <tr>
            <th  style="width:1%; " rowspan="3">	                                  
            	<img src="http://www.aerosanidadvirtual.com/assets/Logo/logo.png" style="width: 100px;" alt="">
            </th >
            <th class="text-center"  style="width:38%; height:23px !important;"  colspan="3">SECRETARIA SISTEMAS OPERACIONALES- DIRECCION DE SEGURIDAD Y SUPERVISION GRUPO SANIDAD AEROPORTUARIA
            INFORME ACTIVIDADES MEDICAS MENSUALES</th>
        </tr>



                <tr>
            <th  style="width:10%; text-align: center;  height:23px !important;">
            <b>FECHA: </b>        
<% t = Time.now %>
<%= t.strftime "%d-%m-%Y" %>
</th >
            <th  style="width:10%; text-align: center;" >                                     
                PACIENTES ATENDIDOS: <%= Paciente.count %>
            </th >
        </tr>

    </tbody>

    </table>
    </div>
</div>




<div class="container">
    <div class="row col-md-6 col-md-offset-2 custyle">
    <table class="table table-striped table-bordered table-hover dataTable no-footer">       
    	<tbody>
    		  <tr>
                <th class="info">E. Infecc</th>
                <th class="info">E. Parasit</th>
                <th class="info">Tumorales</th>
                <th class="info">E. Endocr. Nutr Metab</th>
            </tr>

            <tr>
                <td><%= enfermedades_infecciosas %></td>
                <td><%= parasitos %></td>
                <td><%= tumorales %></td>
                <td><%= nutr_metab %></td>
            </tr>

        </tbody>

    </table>
    </div>
</div>

<div class="container">
    <div class="row col-md-6 col-md-offset-2 custyle">
    <table class="table table-striped table-bordered table-hover dataTable no-footer">       
        <tbody>
            <tr>
                <th class="info">E. Sangre Organ H</th>
                <th class="info">Transtornos Mentales</th>
                <th class="info">Enf. Sist. Nervioso</th>
                <th class="info">E. Organos De Los Sentidos</th>

            </tr>
            <tr>
                <td><%= sangre_organ %></td>
                <td><%= transtornos_mentales %></td>
                <td><%= sistema_nervioso %></td>     
                <td><%= organo_sentidos %></td>
            </tr>


        </tbody>

    </table>
    </div>
</div>

<div class="container">
    <div class="row col-md-6 col-md-offset-2 custyle">
    <table class="table table-striped table-bordered table-hover dataTable no-footer">       
        <tbody>

            <tr>
                <th class="info">Aparato Circulatorio</th>
                <th class="info">Aparato Respiratorio Alto</th>
                <th class="info">Aparato Respiratorio Bajo</th>
                <th class="info">E. Aparato Digestivo</th>

            </tr>
            <tr>
                <td><%= aparato_circulatorio %></td>
                <td><%= respiratorio_alto %></td>
                <td><%= respiratorio_bajo %></td>     
                <td><%= aparato_digestivo %></td>
            </tr>


        </tbody>

    </table>
    </div>
</div>

<div class="container">
    <div class="row col-md-6 col-md-offset-2 custyle">
    <table class="table table-bordered table-hover dataTable no-footer">       
        <tbody>
            <tr>
                <th class="info">E. Aparato Genital</th>
                <th class="info">E. Aparato Urinario</th>
                <th class="info">E. Fiel Y T.O.S</th>
                <th class="info">E. Sistema OseoEO</th>
            </tr>
            <tr>
                <td><%= aparato_genital %></td>    
                <td><%= aparato_urinario %></td>    
                <td><%= fiel_y_tos %></td>    
                <td><%= sistema_oseo %></td>    
            </tr>
        </tbody>

    </table>
    </div>
</div>

<div class="container">
    <div class="row col-md-6 col-md-offset-2 custyle">
    <table class="table table-striped table-bordered table-hover dataTable no-footer">       
        <tbody>

            <tr>
                <th class="info">E. Sistema Muscular</th>
                <th class="info">E. Congenitas</th>
                <th class="info">Signos Y Sintomas Mal Definidos</th>
                <th class="info">E. Perinatal</th>
            </tr>
            <tr>
                <td><%= sistema_muscular %></td>    
                <td><%= enfermedades_congenitas %></td>    
                <td><%= sintomas_mal_definidos %></td>    
                <td><%= enfermedades_perinatal %></td>    
            </tr>
        </tbody>

    </table>
    </div>
</div>

<div class="container">
    <div class="row col-md-6 col-md-offset-2 custyle">
    <table class="table table-striped table-bordered table-hover dataTable no-footer">       
        <tbody>
            <tr>
                <th class="info">Traumas</th>
                <th class="info">Envenenamiento</th>
                <th class="info">Otros</th>
                <th class="info">Embarazo Sin Complicaciones</th>
            </tr>
            <tr>
                <td><%= traumas %></td>    
                <td><%= envenenamiento %></td>    
                <td><%= otros %></td>    
                <td><%= embarazo_sin_complicaciones %></td>    
            </tr>

        </tbody>

    </table>
    </div>
</div>

<div class="container">
    <div class="row col-md-6 col-md-offset-2 custyle" style="width:35% !important;">
    <table class="table table-striped table-bordered table-hover dataTable no-footer">       
        <tbody>
            <tr>
                <th class="info">Embarazo Complicado</th>
            </tr>
            <tr>
                <td><%= embarazo_coomplicado %></td>    
            </tr>
    	</tbody>

    </table>
    </div>
</div>








<%

comercalMasculino = HistoriaClinica.where(:tipo_de_vuelo => "Comercial")
.where(:p_genero => "Masculino").where("date(created_at) >= ?", $varAerocivil)
.where("date(created_at) <= ?", $varAerocivil2).where(:aeropuerto_id => $aeropuertoAerocivil).count

comercalFemenino = HistoriaClinica.where(:tipo_de_vuelo => "Comercial")
.where(:p_genero => "Mujeres").where("date(created_at) >= ?", $varAerocivil)
.where("date(created_at) <= ?", $varAerocivil2).where(:aeropuerto_id => $aeropuertoAerocivil).count

ambulanciaMasculino = HistoriaClinica.where(:tipo_de_vuelo => "Ambulancia")
.where(:p_genero => "Masculino").where("date(created_at) >= ?", $varAerocivil)
.where("date(created_at) <= ?", $varAerocivil2).where(:aeropuerto_id => $aeropuertoAerocivil).count

ambulanciaFemenino = HistoriaClinica.where(:tipo_de_vuelo => "Ambulancia")
.where(:p_genero => "Mujeres").where("date(created_at) >= ?", $varAerocivil)
.where("date(created_at) <= ?", $varAerocivil2).where(:aeropuerto_id => $aeropuertoAerocivil).count

totalComercial = comercalMasculino.to_i + comercalFemenino.to_i
totalAmbulancia = ambulanciaMasculino.to_i + ambulanciaFemenino.to_i

%>





<style type="text/css" media="screen">
th{
	font-size: 10px;
}	

td{
	font-size: 10px;
}	

</style>



<div class="container">
    <div class="row col-md-6 col-md-offset-2 custyle" >
    <table class="table table-striped table-bordered table-hover dataTable no-footer">       
    	<tbody>
    		  <tr>
    		    <th class="info" style="width:25% !important;">Tipo De Vuelo</th>
    		    <th class="info" style="width:25% !important;">Hombres</th>
                <th class="info" style="width:25% !important;">Mujeres</th>
                <th class="info" style="width:25% !important;">Total</th>

            </tr>




            <tr>
                <th>Vuelo Comercial</th>
                <td><%= comercalMasculino %></td>
                <td><%= comercalFemenino %></td>
                <td><%= totalComercial %></td>
            </tr>
            <tr>
                <th>Vuelo Ambulancia</th>
                <td><%= ambulanciaMasculino %></td>
                <td><%= ambulanciaFemenino %></td>
                <td><%= totalAmbulancia %></td>
            </tr>

    	</tbody>

    </table>
    </div>
</div>







<% 

menor_1_masculino = HistoriaClinica.where(:p_genero => "Masculino")
.where(:p_tipo_edad => [" meses", " mes"])
.where("date(created_at) >= ?", $varAerocivil)
.where("date(created_at) <= ?", $varAerocivil2)
.where(:aeropuerto_id => $aeropuertoAerocivil).count

de_1_a_5_masculino =  HistoriaClinica.where(:p_genero => "Masculino").where(:p_edad => 1..5)
.where(:p_tipo_edad => [" años", " año"])
.where("date(created_at) >= ?", $varAerocivil)
.where("date(created_at) <= ?", $varAerocivil2)
.where(:aeropuerto_id => $aeropuertoAerocivil).count

de_6_a_11_masculino =  HistoriaClinica.where(:p_genero => "Masculino")
.where(:p_edad => 6..11).where(:p_tipo_edad => [" años"])
.where("date(created_at) >= ?", $varAerocivil)
.where("date(created_at) <= ?", $varAerocivil2)
.where(:aeropuerto_id => $aeropuertoAerocivil).count

de_12_a_29_masculino =  HistoriaClinica.where(:p_genero => "Masculino")
.where(:p_edad => 12..29).where(:p_tipo_edad => [" años"])
.where("date(created_at) >= ?", $varAerocivil)
.where("date(created_at) <= ?", $varAerocivil2)
.where(:aeropuerto_id => $aeropuertoAerocivil).count

de_30_a_44_masculino =  HistoriaClinica.where(:p_genero => "Masculino")
.where(:p_edad => 30..44).where(:p_tipo_edad => [" años"])
.where("date(created_at) >= ?", $varAerocivil)
.where("date(created_at) <= ?", $varAerocivil2)
.where(:aeropuerto_id => $aeropuertoAerocivil).count

de_45_a_60_masculino =  HistoriaClinica.where(:p_genero => "Masculino")
.where(:p_edad => 45..60).where(:p_tipo_edad => [" años"])
.where("date(created_at) >= ?", $varAerocivil)
.where("date(created_at) <= ?", $varAerocivil2)
.where(:aeropuerto_id => $aeropuertoAerocivil).count

mayor_a_60_masculino = HistoriaClinica.where(:p_genero => "Masculino")
.where("p_edad > ?", 60).where(:p_tipo_edad => [" años"])
.where("date(created_at) >= ?", $varAerocivil)
.where("date(created_at) <= ?", $varAerocivil2)
.where(:aeropuerto_id => $aeropuertoAerocivil).count

menor_1_femenino = HistoriaClinica.where(:p_genero => "Femenino")
.where(:p_tipo_edad => [" meses", " mes"])
.where("date(created_at) >= ?", $varAerocivil)
.where("date(created_at) <= ?", $varAerocivil2)
.where(:aeropuerto_id => $aeropuertoAerocivil).count

de_1_a_5_femenino =  HistoriaClinica.where(:p_genero => "Femenino")
.where(:p_edad => 1..5).where(:p_tipo_edad => [" años", " año"])
.where("date(created_at) >= ?", $varAerocivil)
.where("date(created_at) <= ?", $varAerocivil2).where(:aeropuerto_id => $aeropuertoAerocivil).count

de_6_a_11_femenino =  HistoriaClinica.where(:p_genero => "Femenino")
.where(:p_edad => 6..11).where(:p_tipo_edad => [" años"])
.where("date(created_at) >= ?", $varAerocivil)
.where("date(created_at) <= ?", $varAerocivil2)
.where(:aeropuerto_id => $aeropuertoAerocivil).count

de_12_a_29_femenino =  HistoriaClinica.where(:p_genero => "Femenino")
.where(:p_edad => 12..29).where(:p_tipo_edad => [" años"])
.where("date(created_at) >= ?", $varAerocivil)
.where("date(created_at) <= ?", $varAerocivil2)
.where(:aeropuerto_id => $aeropuertoAerocivil).count

de_30_a_44_femenino =  HistoriaClinica.where(:p_genero => "Femenino")
.where(:p_edad => 30..44).where(:p_tipo_edad => [" años"])
.where("date(created_at) >= ?", $varAerocivil)
.where("date(created_at) <= ?", $varAerocivil2)
.where(:aeropuerto_id => $aeropuertoAerocivil).count

de_45_a_60_femenino =  HistoriaClinica.where(:p_genero => "Femenino")
.where(:p_edad => 45..60).where(:p_tipo_edad => [" años"])
.where("date(created_at) >= ?", $varAerocivil)
.where("date(created_at) <= ?", $varAerocivil2)
.where(:aeropuerto_id => $aeropuertoAerocivil).count

mayor_a_60_femenino = HistoriaClinica.where(:p_genero => "Femenino")
.where("p_edad > ?", 60).where(:p_tipo_edad => [" años"])
.where("date(created_at) >= ?", $varAerocivil)
.where("date(created_at) <= ?", $varAerocivil2)
.where(:aeropuerto_id => $aeropuertoAerocivil).count

total_edades_masculinas =  menor_1_masculino.to_i + de_1_a_5_masculino.to_i + de_6_a_11_masculino.to_i + de_12_a_29_masculino.to_i + de_30_a_44_masculino.to_i + de_45_a_60_masculino.to_i + mayor_a_60_masculino.to_i 

total_edades_femeninas = menor_1_femenino.to_i + de_1_a_5_femenino.to_i +  de_6_a_11_femenino.to_i + de_12_a_29_femenino.to_i + de_30_a_44_femenino.to_i + de_45_a_60_femenino.to_i + mayor_a_60_femenino.to_i


total_menores_año = menor_1_masculino.to_i + menor_1_femenino.to_i
total_rango_1_a_5_años = de_1_a_5_masculino.to_i + de_1_a_5_femenino.to_i
total_rango_6_a_11_años = de_6_a_11_masculino.to_i + de_6_a_11_femenino.to_i
total_rango_12_a_29_años = de_12_a_29_masculino.to_i + de_12_a_29_femenino.to_i
total_rango_30_a_44_años = de_30_a_44_masculino.to_i + de_30_a_44_femenino.to_i
total_rango_45_a_60_años = de_45_a_60_masculino.to_i + de_45_a_60_femenino.to_i
total_mayores_60_años = mayor_a_60_masculino.to_i + mayor_a_60_femenino.to_i


 total_edades = total_edades_masculinas.to_i + total_edades_femeninas.to_i

%>

<div class="container" style="width:330px; margin-left: 0px;">
    <div class="row col-md-12 col-md-offset-2 custyle" >
    <table class="table table-striped table-bordered table-hover dataTable no-footer">       
    	<tbody>
    		<tr>
    		    <th class="info" >Grupo Etareo En Años</th>
    		    <th class="info" >Hombres</th>
                <th class="info" >Mujeres</th>
            </tr>

            <tr>
                <th>de 0 a  < 1 </th>
                <td><%= menor_1_masculino %></td>
                <td><%= menor_1_femenino %></td>

            </tr>
            <tr>
                <th>de 1 a 5 años</th>
                <td><%= de_1_a_5_masculino %></td>
                <td><%= de_1_a_5_femenino %></td>


            </tr>
            <tr>
                <th>de 12 a 29 años</th>
                <td><%= de_6_a_11_masculino %></td>
                <td><%= de_6_a_11_femenino %></td>

            </tr>
            <tr>
            	<th>de 30 a 44 años</th>
            	<td><%= de_12_a_29_masculino %></td>
                <td><%= de_12_a_29_femenino %></td>
            </tr>
            <tr>
            	<th>de 45 a 60 años</th>
            	<td><%= de_30_a_44_masculino %></td>
                <td><%= de_30_a_44_femenino %></td>

            </tr>

            <tr>
            	<th>de 45 a 60</th>
            	<td><%= de_45_a_60_masculino %></td>
                <td><%= de_45_a_60_femenino %></td>

            </tr>

            <tr>
            	<th>de 60  y mas</th>
            	<td><%= mayor_a_60_masculino %></td>
                <td><%= mayor_a_60_femenino %></td>

            </tr>


            <tr>
            	<th>Total</th>
            	<td><%= total_edades_masculinas %></td>
                <td><%= total_edades_femeninas %></td>

            </tr>

    	</tbody>

    </table>
    </div>
</div>




</div>





<style>

.custab{
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5% 0;
    box-shadow: 3px 3px 2px #ccc;
    transition: 0.5s;
    }
.custab:hover{
    box-shadow: 3px 3px 0px transparent;
    transition: 0.5s;
    }

</style>



