<div class="panel panel-default">
  <br/>
  <div class="container">
    <div class="row col-md-6 col-md-offset-2 custyle">
      <table class="table table-bordered table-hover dataTable no-footer">
        <tbody>
          <tr>
            <th  style="width:1%; " rowspan="3">
              <img src="http://www.aerosanidadvirtual.com/assets/Logo/logo.png" style="width: 130px;" alt=""></th >
            <th class="text-center"  style="width:38%; height:20px !important;"  colspan="3">INFORME  USUARIOS</th>

          </tr>

          <tr>
            <th  style="width:20%; text-align: center;" colspan="2">
              USUARIOS REGISTRADOS:
              <%= User.count %></th>
          </tr>

          <tr>
            <th  style="width:10%; text-align: center;"> <b>FECHA:</b>
              <% t = Time.now %>
              <%= t.strftime "%d-%m-%Y" %></th >

          </tr>

        </tbody>

      </table>
    </div>
  </div>

  <div class="container">
    <div class="row col-md-6 col-md-offset-2 custyle">
      <table class="table table-striped table-bordered table-hover dataTable no-footer">
        <tbody>

          <tr>
            <th class="info" width="4% !important;">Id</th>
            <th class="info"  width="40% !important;">Nombres</th>
            <th class="info"  width="28% !important;">Tipo Identificación</th>
            <th class="info"  width="28% !important;">Documento</th>
          </tr>

          <% @users.each do |user| %>

          <tr>

            <td>
              <%= user.id %></td>
            <td>
              <%= user.nombres.capitalize %>
              <%= user.apellidos.capitalize %></td>
            <td>
              <%= user.tipo_documento %></td>
            <td>
              <%= user.documento %></td>

          </tr>
          <% end %></tbody>

      </table>
    </div>
  </div>

  <style type="text/css" media="screen">
th{
  font-size: 10px;
} 

td{
  font-size: 10px;
} 

</style>

</div>

<style>

.custab{
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5% 0;
    box-shadow: 3px 3px 2px #ccc;
    transition: 0.5s;
    }
.custab:hover{
    box-shadow: 3px 3px 0px transparent;
    transition: 0.5s;
    }

</style>
